.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:40px;
  letter-spacing:8px;
  text-transform:uppercase;
  font-weight: 400;
  text-shadow: 2px 2px black;
}
.pimg1{
  background-image:url('https://stmed.net/sites/default/files/comics-wallpapers-27542-7579279.jpg');
  min-height:550px;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.txt{
  letter-spacing: 6px;
  text-transform:uppercase;
  color:#004d40;
}

section {
  width: 140%;
  margin-left: -20%;
}

.transform1 {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
