<section class="section section-questions transform1" [ngStyle]="{'margin-top': marginTop}">
  <div class="pimg1">
    <div class="ptext">
      <span class="white-text">
        New Product
      </span>
    </div>
  </div>
</section>

<div class="row">
  <div class="col s12">
    <h5><span class="txt">Details</span> New Product</h5>
    <br><br>
    <form (ngSubmit)="onSubmit()" #q="ngForm" id="contactForm">
      <div class="input-field">
        <i class="fas fa-list-ul prefix"></i>
        <select name="category" id="category" [(ngModel)]="product.category"  >
          <option value="" disabled selected>Choose option below</option>
          <option value="tintin">Tintin et Milou</option>
          <option value="gaston">Gaston Lagaffe</option>
          <option value="spirou">Spirou</option>
          <option value="asterix">Astérix et Obélix</option>
        </select>
        <label>Category</label>
      </div>
      <br><br>
      <div class="input-field">
        <div class="row">
          <div class="col s12 m4">
            <i class="material-icons prefix">title</i>
            <input type="text" placeholder="Title" id="title" [(ngModel)]="product.title" required name="title">
          </div>
          <div class="col s12 m4">
            <i class="material-icons prefix">person_pin</i>
            <input type="text" placeholder="Author" id="author" [(ngModel)]="product.author" required name="author">
          </div>
          <div class="col s12 m4">
            <i class="material-icons prefix">euro_symbol</i>
            <input type="text" placeholder="Price" id="price" [(ngModel)]="product.price" required name="price">
          </div>
        </div>
      </div>
      <br><br>
      <div class="input-field">
        <div class="row">
          <div class="col s12 m4">
            <i class="material-icons prefix">image</i>
            <input type="file" id="file" [(ngModel)]="product.file" (change)="onFileSelected($event)" required name="productPhoto">
            <br><br><br>
            <li class="green-text">File chosen: {{selectedFile.name}}</li>
          </div>
          <div class="col s12 m4">
            <i class="material-icons prefix">edit</i>
            <input type="text" placeholder="ISBN" id="isbn" [(ngModel)]="product.isbn" required name="isbn">
          </div>
          <div class="col s12 m4">
            <i class="material-icons prefix">edit</i>
            <input type="text" placeholder="Language" id="language" [(ngModel)]="product.language" required name="language">
          </div>
        </div>
      </div>
      <br><br>
      <div class="input-field">
        <i class="material-icons prefix">edit</i>
        <input type="text" placeholder="Small description" id="description" [(ngModel)]="product.description" required name="description">
      </div>
      <br><br>
      <div class="input-field">
        <i class="material-icons prefix">edit</i>
        <textarea id="synopsis" placeholder="Synopsis" [(ngModel)]="product.synopsis" required name="synopsis" class="materialize-textarea"></textarea>
      </div>
      <br><br>
      <button onclick="M.toast({html: 'Product Added', classes: 'teal darken-3'})" type="submit" name="submit" class="btn waves-effect waves-light right" [disabled]="q.invalid">Save<i class="material-icons right">save</i></button>
 </form>
</div>
</div>
