
<div class="transform1" [ngStyle]="{opacity: opacity}">
<section class="section section-product transform1">
  <div class="row">
    <div class="col s12 m4 transform1" [ngStyle]="{'margin-top': topPosition}" style="margin-top: 300px">
      <img src="https://localhost:3443/images/{{product.imageName}}" style="max-height: 400px; max-width: 300px">
    </div>
    <div class="col s12 m5 transform1"  [ngStyle]="{'margin-top': topPosition}" style="margin-top: 300px">
      <h4>{{product.title}}</h4>
      <p>by {{product.author}}</p>
      <span><span style="font-weight: bold">Price</span>: <span class="green-text" style="font-style: italic">{{product.price}}$</span></span><br><br>
      <span><span style="font-weight: bold">Langue</span>: {{product.language}}</span><br>
      <span><span style="font-weight: bold">ISBN</span>: {{product.isbn}}</span><br>
      <span><span style="font-weight: bold">Review</span>: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span><br>
      <p style="text-align: justify"><span style="font-weight: bold">Synopsis</span>: {{product.synopsis}}</p><br>
    </div>
    <div class="transform1" style="border: 4px solid rgba(150, 150, 150, 0.5); border-radius: 3%; position: fixed; width: 240px;" [ngStyle]="{right: right}">
      <div style="margin: 5px">
        <span style="font-size: 19px">Acheter neuf</span><span class="right green-text" style="font-style: italic">{{product.price}}$</span>
        <div style="border-bottom: 1px solid black; width: 50px"></div> <br>
        <p style="text-align:center; width: 100%; font-size: 12px">{{product.price}}$ + <span class="green-text">FREE</span> shipping in France</p> <br>
        <p class="red-text">Only 3 left in stock - order soon</p><br>
        <button class="btn-flat white-text" style="background-color: green; text-align: center; width: 100%" (click)="addCart()">ADD to cart <i class="fas fa-cart-plus white-text"></i></button><br>
        <p>Deliver to: <span [ngStyle]="{color: addressColor}">{{address}}</span></p>
      </div>
    </div>
  </div>
</section>

<div class="transform1"  [ngStyle]="{'margin-top': topPosition1}" >
  <app-author
    *ngFor= "let author of authors"
    [name]="author.name"
    [birth]="author.birth"
    [nationality]="author.nationality"
    [imageName]="author.imageName"
    [biography]="author.biography"
  ></app-author>
</div>

</div>
