<body>
  <section>
    <h2><u>Contact list</u></h2>
    <br><br>
    <div class="container transform1" [ngStyle]="{'margin-top': top, opacity: opacity}">
          <app-contact
            *ngFor = "let contact of contacts"
            [firstName] = 'contact.firstName'
            [lastName] = 'contact.lastName'
            [phone] = 'contact.phone'
            [email] = 'contact.email'
            [company] = 'contact.company'
            [message] = 'contact.message'
            [_id] = 'contact._id'
          ></app-contact>
    </div>
  </section>
</body>
