h2 {
  color:#000;
  font-size:40px;
  letter-spacing:8px;
  text-transform:uppercase;
  font-weight: 200;
}
u{
  text-decoration: none;
  border-bottom: 1px solid black;
}

.transform1 {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
