<div *ngIf="search" class="hide-on-small-only" [ngStyle]="{'margin-top': top}">

  <div>
    <div class="hoverable" style="; border-radius: 10px; border: 1px solid" [ngStyle]="{'background-color': bckColor, 'border-color': bColor, 'margin-top': top}">
      <a href="{{url}}" target="_blank" class="black-text">
        <div class="row">
          <div class="col s2">
            <img src="{{imageUrl}}" style="max-height: 130px; max-width: 150px; margin-top: 10px">
          </div>
          <div class="col s10">
            <p style="font-size: 25px; margin: 5px;">{{title}}</p>
            <span style="color: rgba(220, 8, 19, 0.6); font-style: italic; margin-left: 5px">{{validite}}  </span><span style="color: grey; margin-left: 5px">|  {{financement}}</span><br><br>
            <span style="color: rgba(59, 140, 19, 0.6); margin-left: 5px"><strong>Thèmes </strong>: {{theme}}</span>
          </div>
        </div>
      </a>
    </div>
  </div>

<br>
</div>
