
<div [ngStyle]="{opacity: opacity, 'margin-top': startTop}" style="margin-top: 300px" class="transform1">

<section class="transform1" [ngStyle]="{'background-image': wallpaper}" style="z-index: -2;background-attachment: fixed">
  <!-- Section: Parallax -->
  <section>
    <div class="pimg1">
      <div class="ptext">
        <span class="black-text transform1">
          The new Comic Store
        </span>
      </div>
    </div>
  </section>

<br>

<!-- Section: Item added in Cart -->
<div *ngIf="cart" class="transform1 col s10 offset-s1" style="height: 80px; border: 1px solid green; border-radius: 10px; background-color: rgba(100, 200, 100, 0.6)" [ngStyle]="{'margin-top': mTop, 'opacity': op1}">
  <div class="row">
    <div class="col s12 m1" style="margin-top: 10px;">
      <i class="material-icons green-text prefix medium">check</i>
    </div>
    <div class="col s12 m1">
      <img src={{imageCart}} style="height: 70px; max-width: 70px; margin:2px">
    </div>
    <div class="col s12 m2">
      <span style="color: green; font-size: 19px">Added to Cart</span><br>
      <span>Comics</span>
    </div>
    <div class="col s12 m1" style="border-left: 1px solid green; height: 60px; margin-top: 10px"></div>
    <div class="col s12 m4" style="margin-top: 20px">
      <span><span style="font-weight: bold; font-size: 20px">Item price: </span> <span style="font-style: italic; color: red"> {{priceCart}}$</span></span>
    </div>
    <div class="col s12 m3">
      <button type="button" class="btn-flat grey white-text" style="margin-top: 20px;border-radius: 5px">Cart</button>
      <button type="button" class="btn-flat orange white-text right"  style="margin-top: 20px; border-radius: 5px">Checkout</button>
    </div>
  </div>
</div>



<!-- Section: Description -->
<div>
  <div class="row transform1">
    <div class="col s8 offset-s2">
      <h2 style="text-align: center; font-family: 'Times New Roman'; font-weight: 200">Le monde de la Bande <span [ngStyle]="{color: color}">Dessinée</span></h2>
      <p style="text-align: center; font-weight: 200; font-size: 15px; letter-spacing: 3px; opacity: 0.6">C'est un monde bien particulier. Au delà d'une simple histoire c'est un art écrit et visuel. Chacune
      unique dans son style c'est ce qui rend cette communauté si grande et si passionnée.</p>
    </div>
  </div>
</div>
</section>

<!-- Divider -->
<div class="col s10 offset-s1">
  <div style="border-bottom: 1px solid black; opacity: 0.2"></div>
</div>
<br><br>
<br><br>


<!-- Searhc section -->
<div class="row">
  <div class="col s5 offset-s1">
    <span [ngStyle]="{color: color}" style="font-size: 30px; font-family: 'Times New Roman'">Que recherchez-vous? </span>
  </div>
  <div class="col s9 offset-s3">
    <form id="filter">
      <div class="input-field" id="searchBar">
        <i class="material-icons prefix" id="searchIcon">search</i>
        <input id="term" type="text" placeholder="Filtrer par titre" [(ngModel)]="term" name="term">
      </div>
    </form>
    <ul style="max-height: 100px; overflow: scroll; margin-left: 70px; border-left: 1px solid rgb(202, 8, 19)">
      <li *ngFor="let product of products | filter:term" ><button class="btn-flat white black-text" (click)="pTransition(product._id)">{{product.title}}</button></li>
    </ul>
  </div>
</div>


<!-- Section: Produits -->
<div class="slide">

  <h4 style="font-style: italic; font-family: 'Times New Roman'">Tintin et <span [ngStyle]="{color: color}">Milou</span> : </h4>
  <div style="border-bottom: 1px solid black; width: 100px"></div>
  <br><br>

<div class="row">

  <div class="col s12 m11">
  <div id="container" >
    <div id="slider" style="width: 10000px">

      <div class="row">
        <app-tintin-model
          *ngFor="let tintin of tintins"
          [title]="tintin.title"
          [description]="tintin.description"
          [category]="tintin.category"
          [imageName]="tintin.imageName"
          [price]="tintin.price"
          [language]="tintin.language"
          [isbn]="tintin.isbn"
          [synopsis]="tintin.synopsis"
          [author]="tintin.author"
          [_id]="tintin._id"
        ></app-tintin-model>
      </div>

    </div>
  </div>
  </div>

    <div class="col s12 m1" style="background-color: LightGrey; opacity: 0.4">
      <button class="btn-flat white-text" (click)="onClickTintin()" style="text-align: center; height: 450px; width: 100%"><i class="fas fa-arrow-circle-right fa-5x right"></i></button>
    </div>

</div>

</div>

<br><br><br>

<div class="slide">

  <h4 style="font-style: italic; font-family: 'Times New Roman'">Astérix et <span [ngStyle]="{color: color}">Obélix</span> : </h4>
  <div style="border-bottom: 1px solid black; width: 100px"></div>
  <br><br>

<div class="row">

  <div class="col s12 m11">
  <div id="container" >
    <div id="slider" style="width: 10000px">

      <div class="row">
        <app-asterix-model
        *ngFor="let product of products"
        [title]="product.title"
        [description]="product.description"
        [category]="product.category"
        [imageName]="product.imageName"
        [price]="product.price"
        [language]="product.language"
        [isbn]="product.isbn"
        [synopsis]="product.synopsis"
        [author]="product.author"
        [_id]="product._id"
        ></app-asterix-model>
      </div>

    </div>
  </div>
  </div>

  <div class="col s12 m1" style="background-color: LightGrey; opacity: 0.4">
    <button class="btn-flat white-text" (click)="onClickAsterix()" style="text-align: center; height: 450px; width: 100%"><i class="fas fa-arrow-circle-right fa-5x right"></i></button>
  </div>

</div>

</div>






<!-- Section: Contact -->
 <section id="contact" class="section section-contact scrollspy">
   <div class="container">
     <div class="row">
       <div class="col s12 m6">
         <div class="card-panel black-text grey lighten-3 center">
           <i class="material-icons" style="color: black">email</i>
           <h5><span  [ngStyle]="{color: color}">Nous Contacter</span></h5>
           <br>
           <div class="col s8 offset-s2" style="border-bottom: 1px solid black; opacity: 0.2"></div>
           <br>
           <p style="opacity: 0.6">Vous pouvez nous contacter du <span  [ngStyle]="{color: color}">lundi</span> au <span  [ngStyle]="{color: color}">vendredi</span> par télephone au <a [href]="'tel:' + phone"  target="_self"  [ngStyle]="{color: color}">0646797513</a> ou laisser un <span  [ngStyle]="{color: color}">message</span> et on reviendra vers vous au plus vite.</p>
         </div>
         <div #map id="map"></div>
       </div>
       <div class="col s12 m6">
         <div class="card-panel grey lighten-3 hoverable">
           <h5>Laisser un <span  [ngStyle]="{color: color}">Message</span></h5>
           <form (ngSubmit)="onSubmit()" #contactForm="ngForm" id="contactForm">
             <div class="input-field transformMedium" [ngStyle]="{'margin-top': p1}">
               <i class="material-icons prefix">account_circle</i>
               <label for="firstName">
                 Prénom
               </label>
               <input type="text" id="firstName" [(ngModel)]="contact.firstName" required name="firstName">
             </div>
             <div class="input-field transformMedium" [ngStyle]="{'margin-top': p2}">
               <i class="material-icons prefix">account_circle</i>
               <label for="lastName">
                 Nom
               </label>
               <input type="text" id="name" [(ngModel)]="contact.lastName" required name="lastName">
             </div>
             <div class="input-field transformMedium" [ngStyle]="{'margin-top': p3}">
               <i class="material-icons prefix">email</i>
               <label for="email">
                 Email
               </label>
               <input type="text" id="email" [(ngModel)]="contact.email" required name="email">
             </div>
             <div class="input-field transformMedium" [ngStyle]="{'margin-top': p4}">
               <i class="material-icons prefix">phone</i>
               <label for="phone">
                 Mobile
               </label>
               <input type="text" id="phone" [(ngModel)]="contact.phone" required name="phone">
             </div>
             <div class="input-field transformMedium" [ngStyle]="{'margin-top': p5}">
               <i class="material-icons prefix">business</i>
               <label for="company">
                 Entreprise
               </label>
               <input type="text" id="company" [(ngModel)]="contact.company" required name="company">
             </div>
             <div class="input-field transformMedium" [ngStyle]="{'margin-top': p6}">
               <i class="material-icons prefix">edit</i>
               <label for="message">
                 Votre Message
               </label>
               <textarea id="message" [(ngModel)]="contact.message" required name="message" class="materialize-textarea"></textarea>
             </div>
             <button onclick="M.toast({html: 'Message Sent', classes: 'teal darken-3'})" type="submit" name="submit" class="btn white-text" [disabled]="contactForm.invalid">Submit<i class="material-icons right">send</i></button>
        </form>
         </div>
       </div>
     </div>
   </div>
 </section>




</div>
