<div class="card col s3 transform1" style="width: 250px; margin: 10px; float: left" [ngStyle]="{left: mLeft}">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://pbs.twimg.com/media/Diz4zEVXUAcf-AU.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4" style="font-style: italic">14.99$<i class="material-icons right">more_vert</i></span>
      <p><a href="#">En savoir plus</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{title}}<i class="material-icons right">close</i></span>
      <p>Une bande dessinée classique pleine de vi et d'humour</p>
    </div>
</div>
